/.vscode/

# dependencies
/src/dist/
/node_modules/

# testing
/src/coverage/
/src/temp/

# build output
/src/build/

# misc
/src/.DS_Store
/src/.env.local
/src/.env.development.local
/src/.env.test.local
/src/.env.production.local

# packaged extension
/calendar-plus.zip