# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.vscode

# dependencies
/src/dist
/src/node_modules

# testing
/src/coverage

# production
/src/build

# misc
/src/.DS_Store
/src/.env.local
/src/.env.development.local
/src/.env.test.local
/src/.env.production.local

/src/npm-debug.log*
/src/yarn-debug.log*
/src/yarn-error.log*
