@layer base {
  * {
    @apply !ring-inset;
  }

  /*
   * Without this, sr-only elements where causing scroll bars to appear in
   * some browsers
   */
  .sr-only {
    @apply top-0;
  }

  .link {
    @apply inline-flex cursor-pointer items-center gap-2
    border-none bg-transparent text-left text-black
    active:underline enabled:hover:text-blue-300 disabled:!ring-0 dark:text-gray-200;
  }

  a.link {
    @apply hover:text-blue-400 dark:hover:text-blue-300;
  }

  .link[aria-current]:not(.aria-handled) {
    @apply text-blue-300;
  }

  .icon {
    @apply active:bg-blue-100 disabled:!cursor-not-allowed
    disabled:!text-gray-400 disabled:hover:!text-gray-400
    dark:active:bg-blue-500 disabled:dark:!text-neutral-600
    disabled:hover:dark:!text-neutral-600;
  }

  /* Hide up/down arrows in Gecko */
  [type='number'].no-arrows {
    -moz-appearance: textfield;
  }

  /* Hide up/down arrows in Webkit */
  [type='number'].no-arrows::-webkit-outer-spin-button,
  [type='number'].no-arrows::-webkit-inner-spin-button {
    @apply m-0 appearance-none;
  }
}
