/**
 * Styles for condensing UI
 */

@layer components {
  /*
   * Hard-coding minified class names seems fragile, but these haven't changed
   * much in over a year. It could be that these are hashed variants of longer
   * class names, rather than purely minified
   */

  /* Hide useless UI elements */
  body.condense-interface
    :is(
      /* "Terms" and "Privacy" links */
      #drawerMiniMonthNavigator ~ :last-child,
      /* "Create event" button (redundant) */
      header ~ [data-is-drawer-closed],
      /* "Create event" button (redundant) */
      .LXjtcc,
      /* "Search for people" input box */
      #drawerMiniMonthNavigator ~ [role="search"],
      /* "Google Apps" button */
      #gbwa),
  /* "Calendar" heading */
  body.condense-interface header [role="heading"],
  /* Hide "Support" button */
  body.condense-interface header .h8Aqhb,
  /* Hide obtrucive "Tasks" split button */
  body.condense-interface header #calendar-plus ~ :last-child > :last-child {
    @apply hidden;
  }

  /* Remove padding right where "Google Apps" button was */
  body.condense-interface div[data-ogsr-up] {
    @apply !p-0;
  }

  /* Free up space in the header */
  body.condense-interface header div[style]:first-child {
    @apply !min-w-[unset] !pr-[unset];
  }

  /* Reduce heading padding */
  body.condense-interface header > div {
    @apply !p-0;
  }

  body.condense-interface .SGWAac {
    height: calc(100% - 48px);
  }

  /* Reduce side bar paddings */
  body.condense-interface .Az5uJd {
    @apply pb-0;
  }

  /* Reduce side bar paddings */
  body.condense-interface .cr5Gle {
    @apply pt-0;
  }

  /* Reduce side bar paddings */
  body.condense-interface #drawerMiniMonthNavigator {
    @apply mt-1;
  }

  /* Reduce size of day numbers */
  body.condense-interface
    [role='main']
    [role='grid']
    [role='row']
    [role='columnheader']
    [role='link'] {
    font-size: 22px !important;
    line-height: 30px !important;
    margin-top: 1px !important;
    height: 30px !important;
    width: 30px !important;
  }

  /* Reduce height of day header */
  body.condense-interface [role='main'] [role='grid'] [role='row'] {
    height: unset !important;
  }

  /* Place week day name next to day number */
  body.condense-interface
    [role='main']
    [role='grid']
    [role='row']
    [role='columnheader']
    h2 {
    @apply relative !flex items-center justify-center;
    flex-flow: row nowrap !important;
  }

  /* Center the day numbers */
  body.condense-interface
    [role='main']
    [role='grid']
    [role='row']
    [role='columnheader']
    h2
    > [aria-hidden] {
    @apply !absolute left-0;
  }
}
