/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

@layer base {

  body.reduce-motion * {
    @apply !transition-none !duration-0;
  }

  * {
    @apply transition duration-[var(--transition-duration)] ease-in-out
      dark:!shadow-none placeholder-gray-400 !ring-inset;
    /*
     * Disables transitions for text color.
     * See https://github.com/specify/specify7/issues/1561
     */
    transition-property: background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  }

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  .textarea-shadow,
  select {
    @apply p-1 rounded accent-brand-200 dark:accent-brand-400 ring-gray-500
      ring-1 dark:ring-0 border-none bg-[color:var(--field-background)]
      text-[length:inherit] leading-[unset]
      [.has-alt-background_&]:optional:bg-white
      dark:[.has-alt-background_&]:optional:bg-neutral-900;
  }

  input,
  textarea,
  .textarea-shadow,
  select {
    @apply focus:ring-2 dark:focus:ring-1;

    /* Hide arrows, calendar icon and other symbols */
    @apply print:bg-none print:m-0 print:appearance-none;
  }

  :disabled:not(.link), [readonly] {
    @apply !cursor-not-allowed ring-1 ring-gray-500 dark:ring-1;
  }

  :is(:disabled, [readonly]):not(.link, [type='checkbox'], [type='radio']) {
    @apply bg-[color:var(--disabled-field-background)] text-gray-700
      dark:text-neutral-500;
  }

  select[size] {
    @apply bg-none pl-2 pr-1;
  }

  [type='checkbox'],
  [type='radio'] {
    @apply cursor-pointer text-brand-200 dark:text-brand-400 focus:!ring-2
      focus:!ring-offset-1;
  }

  :is([type='checkbox'], [type='radio']):is([readonly], :disabled) {
    @apply bg-gray-300 dark:bg-neutral-600 text-gray-500 dark:text-neutral-900
      hover:ring-gray-500 checked:bg-current;
  }

  label, summary {
    @apply cursor-pointer;
  }

  form:not(.not-submitted) :is(input, select, textarea):invalid,
  :is(input, select, textarea):not(.not-touched):invalid {
    @apply !bg-[color:var(--invalid-field-background)] placeholder-red-900
      dark:placeholder-red-400;
  }

  textarea {
    @apply w-full resize;
  }

  :required {
    @apply bg-[color:var(--required-field-background)];
  }

  /* Always show spinner buttons */
  [type='number']:not([readonly])::-webkit-inner-spin-button,
  [type='number']:not([readonly])::-webkit-outer-spin-button {
    @apply opacity-100;
  }

  /* Make spinner buttons larger */
  [type='number']:not([readonly])::-webkit-outer-spin-button,
  [type='number']:not([readonly])::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button !important;
    @apply w-[2] absolute top-0 right-0 h-full;
  }

  [type='number']:not([readonly]) {
    @apply relative;
  }

  .button:is([aria-pressed='true'], [aria-selected='true'], [aria-current]):not(.aria-handled) {
    @apply brightness-[2];
  }

  button[aria-pressed='true']:not(.aria-handled).link {
    @apply !bg-transparent text-brand-300 dark:text-brand-400;
  }

  .link {
    @apply text-black dark:text-gray-200 cursor-pointer disabled:!ring-0
      enabled:hover:text-brand-300 gap-2 inline-flex items-center active:underline;
  }

  a.link {
    @apply hover:text-brand-300;
  }

  .link[aria-current]:not(.aria-handled) {
    @apply text-brand-300;
  }

  .icon {
    @apply active:bg-brand-100 dark:active:bg-brand-500
      disabled:!cursor-not-allowed disabled:!text-gray-400
      disabled:hover:!text-gray-400 disabled:dark:!text-neutral-600
      disabled:hover:dark:!text-neutral-600;
  }

  progress::-webkit-progress-bar {
    @apply bg-gray-200 dark:bg-neutral-700 rounded;
  }

  progress::-webkit-progress-value {
    @apply bg-brand-200 dark:bg-brand-400 rounded;
  }

  progress::-moz-progress-bar {
    @apply bg-brand-200 dark:bg-brand-400 rounded;
  }

  /* Display tooltips as an overlay on touch-screen devices */
  @media (pointer: coarse), (hover: none) {
    [title] {
      @apply relative inline-flex justify-center;
    }

    [title]:focus::after {
      @apply w-fit absolute p-1 text-black bg-white border border-black
        content-[attr(title)] top-[90%];
    }
  }

  /*
   * Grid-based table implementation for increased flexibility
   * Does not sacrifice accessibility thanks to the [role] attributes
   * Allows for things like sticky headers and having entire row be a link/button
   * You can set column sizes by adding a className like this:
   *   grid-cols-[repeat(4,1fr)_auto_auto_min-content_minmax(10rem,1fr)]
   * There is much more flexibility in how columns should be sized.
   */
  .grid-table:is(table, [role~="table"]) {
    @apply grid;
  }

  .grid-table :is(thead, tbody, tr, [role~="rowgroup"], [role~="row"]) {
    @apply contents;
  }

  .grid-table :is(th, td, [role~="columnheader"], [role~="rowheader"], [role~="cell"]) {
    @apply flex items-center gap-1;
  }

  /*
   * Without this, sr-only elements where causing scroll bars to appear in
   * some browsers
   */
  .sr-only {
    @apply top-0;
  }

}

/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
@tailwind components;

@layer components {
}

/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@tailwind utilities;

@layer utilities {
}
